
@livipdev:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=13655a5a46e3885c3a094d6429eef89a07bceb6f
@USERNAME:registry=https://npm.pkg.github.com/marcosrib
registry=https://registry.npmjs.org
